.external{
	z-index: 1;
	left: 0px;
	right: 0px;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

#externalheader{
	top: -1px;
	background-color: #ffffff;
	border: none;
	margin-top: 5%;
}

#externalheader img{
	width: 100%;
}

#externalfooter{
	bottom: -1px;
	padding-bottom: 1px;
}

.ui-page{
	padding-top: 15%;
}

.helvetica{
	font-family: "HelveticaNeue-Light";
}

@font-face {			/* Fuente principal */

    font-family: "HelveticaNeue-Light";
    src: url('../fonts/helvetica_neue_light.ttf') format('truetype');

	
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}