.external{
	z-index: 1;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 1000;
}

#externalheader{
	background-color: #ffffff;
	border: none;
    margin-top: -4%;
}

.ui-page-theme-a{
	background-color: #ffffff;
}

#externalheader img{
	width: 100%;
}

.audios, .team, .centers, .web, .share{
	border-radius: 50% !important;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #000000 /*{a-bup-shadow-color}*/ !important;
}

.audios, .team, .share{
	background-color: #447dcc !important;
    border-color: #447dcc !important;
}

.centers, .web{
	background-color: #c7501d !important;
    border-color: #c7501d !important;
}

.team, .centers{
	width: 78% !important;
    margin-left: 10% !important;
}

.audios{
	margin-top: 43%;
}

.audios, .web, .share{
	width: 200% !important;
    right: 50% !important;
}

.audios, .team, .web, .share{
	margin-bottom: 27% !important;
}

#externalfooter{
	bottom: -1px;
	padding-bottom: 1px;
}

.ui-page{
	padding-top: 15%;
}

.helvetica{
	font-family: "HelveticaNeue-Light";
}

@font-face {			/* Fuente principal */

    font-family: "HelveticaNeue-Light";
    src: url('../fonts/helvetica_neue_light.ttf') format('truetype');

	
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}