<div id="externalheader" class="external" data-role="header">
	<div style=" text-align:center" data-controltype="image">
		<img class="logoterapp" src="img/logo_terapiados.png" />
	</div>
</div>

<div class="ui-grid-b">
  <div class="ui-block-left ui-block-a"><!-- Placeholder --></div>
	<div class="ui-block-center ui-block-b">
	  <fieldset data-role="controlgroup">
		<button class="audios" type="button" data-theme="b">Audios</button>
	  </fieldset>
	</div>
  <div class="ui-block-right ui-block-c"><!-- Placeholder --></div>
</div>


<div class="ui-grid-a">
	<div class="ui-block-a"><button class="team" type="button" data-theme="b">Team</button></div>
	<div class="ui-block-b"><button class="centers" type="button" data-theme="b">Centers</button></div>	   
</div>

<div class="ui-grid-b">
  <div class="ui-block-left ui-block-a"><!-- Placeholder --></div>
	<div class="ui-block-center ui-block-b">
	  <fieldset data-role="controlgroup">
		<button class="web" type="button" data-theme="b">Web</button>
	  </fieldset>
	</div>
  <div class="ui-block-right ui-block-c"><!-- Placeholder --></div>
</div>

<div class="ui-grid-b">
  <div class="ui-block-left ui-block-a"><!-- Placeholder --></div>
	<div class="ui-block-center ui-block-b">
	  <fieldset data-role="controlgroup">
		<button class="share" type="button" data-theme="b">Share</button>
	  </fieldset>
	</div>
  <div class="ui-block-right ui-block-c"><!-- Placeholder --></div>
</div>