<div id="externalheader" class="external" data-role="header">
	<div style=" text-align:center" data-controltype="image">
		<img class="logoterapp" src="img/logo_terapiados.png" />
	</div>
</div>
<p class="primerPcuaderno">
	
	<div class="ui-grid-solo">
		<div class="ui-block-a audios"><button type="button" data-theme="b">Audios</button></div>
	</div>
	<div class="ui-grid-a">
		<div class="ui-block-a team"><button type="button" data-theme="c">Team</button></div>
		<div class="ui-block-b centers"><button type="button" data-theme="c">Centers</button></div>	   
	</div>
	<div class="ui-grid-solo">
		<div class="ui-block-a share"><button type="button" data-theme="b">Share</button></div>
	</div>

</p>